<div id="activities" class="activities section-wrapper">
    <div class="section">
        <div id="workshops" class="activity-wrapper">
            <div class="container">
                <div class="row align-items-center activity-row">
                    <div class="col-lg-6 col-md-7 activity-description">
                        <h3 class="activity-header text-capitalize mb-md-2 mb-4 tc-black-almost">
                            <span class="activity-header-icon"><i class='fas fa-laptop'></i></span>
                            <span class="activity-header-txt">workshops</span>
                        </h3>
                        <div class="activity-body description tc-black-almost">
                            <p class='mb-2 capitalize-first-letter'>attend workshops (run by professionals/students) on <span class='key-word white-space-nowrap'>differents subjects</span> (Project management, Programming, DevOps ...etc), here is the details :</p>
                            <ul class="ps-4 m-0">
                                <li class="capitalize-first-letter">learn the <span class='key-word white-space-nowrap'>basics</span> of a language, framework or technology.</li>
                                <li class="capitalize-first-letter">work/collaborate with other members to <span class='key-word white-space-nowrap'>sharp</span> your problem solving skills.</li>
                                <li class="capitalize-first-letter">build <span class='key-word white-space-nowrap'>projects</span> from <span class='key-word white-space-nowrap'>scratch</span>.</li>
                                <li class="capitalize-first-letter"><span class='key-word white-space-nowrap'>solve</span> coding challenges together.</li>
                            </ul>
                            <div class="capitalize-first-letter btn-join-us">
                                <a href='#' target='_blank'>
                                    <span class='d-inline-block capitalize-first-letter'>
                                        <span class='me-1'>click to join</span>
                                        <i class='fas fa-chevron-right'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 activity-img">
                        <div class="img-wrapper">
                            <img class="img-fluid w-md-75 m-auto d-block" src="./dist/assets/img/activities/workshops.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div id="hangouts" class="activity-wrapper">
            <div class="container">
                <div class="row align-items-center activity-row">
                    <div class="col-lg-6 col-md-7 activity-description">
                        <h3 class="activity-header text-capitalize mb-md-2 mb-4 tc-black-almost">
                            <span class="activity-header-icon"><i class='fas fa-mug-hot'></i></span>
                            <span class="activity-header-txt">hangouts</span>
                        </h3>
                        <div class="activity-body description tc-black-almost">
                            <p class='mb-2 capitalize-first-letter'>discussions about different subjects to <span class='key-word white-space-nowrap'>answer</span> questions such as: </p>
                            <ul class="ps-4 m-0">
                                <li class="capitalize-first-letter">what <span class='key-word white-space-nowrap'>should I learn</span> to become a good software developer ?</li>
                                <li class="capitalize-first-letter">it's <span class='key-word white-space-nowrap'>hard</span> for me to learn coding.</li>
                                <li class="capitalize-first-letter">what to do <span class='key-word white-space-nowrap'>after highschool ?</span></li>
                                <li class="capitalize-first-letter">i don't know how to <span class='key-word white-space-nowrap'>look for a job</span> as a software developer ?</li>
                                <li class="capitalize-first-letter">what are <span class='key-word white-space-nowrap'>soft skills</span> ?</li>
                                <li class="capitalize-first-letter"><span class='key-word white-space-nowrap'>do I need math</span> to become a software developer ?</li>
                                <li class="capitalize-first-letter">And any <span class='key-word white-space-nowrap'>other</span> subjects related to <span class='key-word white-space-nowrap'>studies/career</span>.</li>
                            </ul>
                            <div class="capitalize-first-letter btn-join-us">
                                <a href='#' target='_blank'>
                                    <span class='d-inline-block capitalize-first-letter'>
                                        <span class='me-1'>click to join</span>
                                        <i class='fas fa-chevron-right'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 activity-img">
                        <div class="img-wrapper">
                            <img class="img-fluid w-md-75 m-auto d-block" src="./dist/assets/img/activities/hangouts.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="communication" class="activity-wrapper">
            <div class="container">
                <div class="row align-items-center activity-row">
                    <div class="col-lg-6 col-md-7 activity-description">
                        <h3 class="activity-header text-capitalize mb-md-2 mb-4 tc-black-almost">
                            <span class="activity-header-icon"><i class='fas fa-comments'></i></span>
                            <span class="activity-header-txt">communication</span>
                        </h3>
                        <div class="activity-body description tc-black-almost">
                            <p class='mb-2 capitalize-first-letter'>join the online meetings to practice communication in English/French <span class='key-word white-space-nowrap'>every week</span>, here is why :</p>
                            <ul class="ps-4 m-0">
                                <li class="capitalize-first-letter">ability to communicate with the language <span class='key-word'>itself</span>.</li>
                                <li class="capitalize-first-letter">create <span class='key-word'>connections</span> with other new people.</li>
                                <li class="capitalize-first-letter">increase the chances to land an <span class='key-word white-space-nowrap'>interview/job</span>.</li>
                                <li class="capitalize-first-letter">new doors opened for <span class='key-word'>more</span> knowledge.</li>
                                <li class="capitalize-first-letter">don't underestimate yourself, because <span class='key-word white-space-nowrap'>we don't</span>.</li>
                            </ul>
                            <div class="capitalize-first-letter btn-join-us">
                                <a href='#' target='_blank'>
                                    <span class='d-inline-block capitalize-first-letter'>
                                        <span class='me-1'>click to join</span>
                                        <i class='fas fa-chevron-right'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 activity-img">
                        <div class="img-wrapper">
                            <img class="img-fluid w-md-75 m-auto d-block" src="./dist/assets/img/activities/communication.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="coding-challenges" class="activity-wrapper">
            <div class="container">
                <div class="row align-items-center activity-row">
                    <div class="col-lg-6 col-md-7 activity-description">
                        <h3 class="activity-header text-capitalize mb-md-2 mb-4 tc-black-almost">
                            <span class="activity-header-icon"><i class='fas fa-code'></i></span>
                            <span class="activity-header-txt">coding challenges</span>
                        </h3>
                        <div class="activity-body description tc-black-almost">
                            <p class='mb-2 capitalize-first-letter'>join our practice sessions to <span class='key-word white-space-nowrap'>train</span> your mind and prepare for professional coding challenges.</p>
                            <ol class="ps-4 m-0">
                                <li class="capitalize-first-letter"><span class='key-word white-space-nowrap'>Enhances</span> problem-solving skills.</li>
                                <li class="capitalize-first-letter">It's <span class='key-word white-space-nowrap'>guaranteed</span> brain exercise.</li>
                                <li class="capitalize-first-letter">It's a way to <span class='key-word white-space-nowrap'>practice</span> fast coding.</li>
                                <li class="capitalize-first-letter">More <span class='key-word white-space-nowrap'>attractive</span> to major companies.</li>
                                <li class="capitalize-first-letter">Provides a significant technical <span class='key-word white-space-nowrap'>edge</span> during job interviews.</li>
                                <li class="capitalize-first-letter">It's a way to <span class='key-word white-space-nowrap'>focus</span> on the fundamentals.</li>
                            </ol>
                            <div class="capitalize-first-letter btn-join-us">
                                <a href='#' target='_blank'>
                                    <span class='d-inline-block capitalize-first-letter'>
                                        <span class='me-1'>click to join</span>
                                        <i class='fas fa-chevron-right'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 activity-img">
                        <div class="img-wrapper">
                            <img class="img-fluid w-md-75 m-auto d-block" src="./dist/assets/img/activities/coding-challenges.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mock-interview" class="activity-wrapper">
            <div class="container">
                <div class="row align-items-center activity-row">
                    <div class="col-lg-6 col-md-7 activity-description">
                        <h3 class="activity-header text-capitalize mb-md-2 mb-4 tc-black-almost">
                            <span class="activity-header-icon"><i class='fas fa-briefcase'></i></span>
                            <span class="activity-header-txt">mock interview</span>
                        </h3>
                        <div class="activity-body description tc-black-almost">
                            <p class='mb-2 capitalize-first-letter'>A mock interview is a simulation that allows you to <span class='key-word white-space-nowrap'>work</span> on verbal/nonverbal communication skills and become <span class='key-word white-space-nowrap'>familiar</span> with interview settings, here is how :</p>
                            <ol class="ps-4 m-0">
                                <li class="capitalize-first-letter">choose an interviewer <span class='key-word white-space-nowrap'>by asking</span> the server members.</li>
                                <li class="capitalize-first-letter">choose/share a <span class='key-word white-space-nowrap'>job offer</span> as example with the interviewer and <span class='key-word white-space-nowrap'>start</span> the interview.</li>
                                <li class="capitalize-first-letter">share your <span class='key-word white-space-nowrap'>resume</span> with the interviewer (use screen sharing, shared link ... etc).</li>
                                <li class="capitalize-first-letter">take your time <span class='key-word white-space-nowrap'>answering</span> questions.</li>
                                <li class="capitalize-first-letter">the interviewer will <span class='key-word white-space-nowrap'>review</span> the mock interview with you at the end.</li>
                            </ol>
                            <div class="capitalize-first-letter btn-join-us">
                                <a href='#' target='_blank'>
                                    <span class='d-inline-block capitalize-first-letter'>
                                        <span class='me-1'>click to join</span>
                                        <i class='fas fa-chevron-right'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 activity-img">
                        <div class="img-wrapper">
                            <img class="img-fluid w-md-75 m-auto d-block" src="./dist/assets/img/activities/mock-interview.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>