
<!-- Fonts -->
<link rel="preload" href="./dist/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./dist/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./dist/assets/fonts/istokweb.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./dist/assets/fonts/UntitledSansWeb-Bold.woff2" as="font" type="font/woff2" crossorigin>

<link href="./dist/css/externals.css" rel="preload" as="style">
<link href="./dist/css/externals.css" rel="stylesheet">
<link id="app-css-preload" href="./dist/css/app.css" rel="preload" as="style">
<link id="app-css" href="./dist/css/app.css" rel="stylesheet">

<script defer type="module" src="./dist/js/app.js"></script>