<div class="banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-text">
                <p>
                    <span class="pre-title"><i class="fas fa-calendar-alt"></i></span>
                    <span class="title">
                        <a href="#" rel="noopener" aria-label="Banner Title" title="Put here your next event"
                            target="_blank" class="link-decorated">Put here your next event</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="banner-close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>