<footer class="page-footer">
    <div class="container page-footer-wrapper footer text-center">
        <div class="footer-part footer-menu-wrapper container w-100">
            <div class="row">
                <div class="col-12">
                    <div>
                        <ul class="footer-menu list-group list-group-horizontal align-items-start">
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_blank" aria-label="videos" class="text-capitalize"> videos </a> </li>      
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_blank" aria-label="events" class="text-capitalize"> events </a> </li>      
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_self" aria-label="contributors" class="text-capitalize"> contributors </a> </li>     
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_blank" aria-label="rules" class="text-capitalize"> rules </a> </li>
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_blank" aria-label="FAQ" class="text-capitalize"> FAQ </a> </li>      
                            <li class="footer-menu-item list-group-item overflow-auto my-2 mx-3"> <a href="#" rel="noopener" target="_blank" aria-label="roadmaps" class="text-capitalize"> roadmaps </a> </li>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>                    
        <hr class="footer-separator">
        <div class="footer-part extra-data-wrapper container w-100 py-4">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
                    <div class="teacode-header brand turn-trigger mb-2 d-inline-block">
                        <a href="/">
                            <span class="text-uppercase brand-text">teac</span>
                            <div class="logo logo-brand position-relative d-inline-block">
                                <img src="./dist/assets/img/teacode/teacode_circle_200.png" width="30" height="30"
                                class="logo turn img-fluid square-25" alt="Logo">
                            </div>
                            <span class="text-uppercase brand-text">de</span>
                        </a>
                    </div>
                    <div class="text-body">
                        <p>
                            Whether you are learning to code, thinking about it,
                            looking for a job in software development,
                            Join a moroccan developers community who can help you in your learning journey.
                        </p>
                    </div>
                    <div class="social-icons-wrapper mt-3"> 
                        <ul class="list-group list-group-horizontal align-items-start">   
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="facebook" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-facebook-f"></i></span> </a> </li> 
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="youtube" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-youtube"></i></span> </a> </li>    
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="instagram" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-instagram"></i></span> </a> </li>  
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="twitter" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-twitter"></i></span> </a> </li>   
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="linkedin" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-linkedin"></i></span> </a> </li>   
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="github" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-github"></i></span> </a> </li> 
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="email" class="text-decoration-none"> <span class="social-icon"><i class="fas fa-at"></i></span> </a> </li>    
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="paypal" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-paypal"></i></span> </a> </li>  
                            <li class="list-group-item border-0 overflow-auto my-0 mx-2"> <a href="#" target="_blank" rel="noopener" aria-label="patreon" class="text-decoration-none"> <span class="social-icon"><i class="fab fa-patreon"></i></span> </a> </li> 
                        </ul> 
                    </div>
                </div>
            </div>
        </div>                    
        <hr class="footer-separator">
        <div class="footer-part copy-right-wrapper container w-100">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12 copyright-txt mb-2">
                    <div class="copy-right">
                        <span class="copy-right-txt">
                            <i class="far fa-copyright"></i> TeaCode 2022. All rights reserved
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-12 owner">
                    <p>
                        Made with
                        <span class="heart-icon"><i class="fas fa-heart"></i></span>
                        by
                        <span class="bold">
                            <a class="link-undecorated tc-white" href="https://linkedin.com/in/drissboumlik" target="_blank" rel="noopener">Driss Boumlik</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>                    
    </div>
</footer>