.about
    // margin-top: 70px
    margin-top: -56px
    position: relative
    // margin-top: $navbar-height
    padding-top: 50px
    padding-bottom: 50px
    @media (min-width: 768px)
        padding-top: 100px
        padding-bottom: 100px
    @media (min-width: 992px)
        padding-top: 150px
        padding-bottom: 150px

.about-header
    margin-top: $navbar-height
.brand-slogan
    text-align: center
    font-family: Untitled-Sans
    font-size: 3rem
    font-weight: bold
    color: $tc-black-almost
    @media (max-width: 767px)
        font-size: 2rem
        text-align: left
    span
        color: $tc-blue
.welcome-message
    *
        text-align: center
        @media (max-width: 767px)
            text-align: left
    .welcome-message-wrapper
        font-size: 1.1rem
    .btn-action .btn-join-us
        font-size: 1rem
        transition: transform .3s ease
        &:hover
            color: $tc-white
            transform: scale(1.05)

    .btn-actions
        display: flex
        justify-content: center
        column-gap: 1.5rem
        *
            color: $tc-white
        @media (max-width: 767px)
            justify-content: start
.link-wrapper
    a
        display: flex
        justify-content: space-between
        align-items: center
    i
        font-size: 1.5rem
