
.footer-part.copy-right-wrapper.container.w-100
    .row
        .col-lg-6.offset-lg-3.col-12.copyright-txt.mb-2
            .copy-right
                span.copy-right-txt
                    i.far.fa-copyright
                    |  TeaCode 2022. All rights reserved
        .col-lg-6.offset-lg-3.col-12.owner
            p
                | Made with
                span.heart-icon.ms-2
                    i.fas.fa-heart.me-1
                |                         by
                span.bold.m-1
                    a.link-undecorated.tc-white(href='https://linkedin.com/in/drissboumlik' target='_blank' rel='noopener') Driss Boumlik
