
.footer-part.extra-data-wrapper.container.w-100.py-4
    .row
        .col-12.col-md-10.col-lg-6.offset-md-1.offset-lg-3
            .teacode-header.brand.turn-trigger.mb-2.d-inline-block
                a(href='/')
                    span.text-uppercase.brand-text teac
                    .logo.logo-brand.position-relative.d-inline-block
                        img.logo.turn.img-fluid.square-25(src='./assets/img/teacode/teacode_circle_200.png' width='30' height='30' alt='Logo')
                    span.text-uppercase.brand-text de
            .text-body
                p
                    | Whether you are learning to code, thinking about it,
                    | looking for a job in software development,
                    | Join a moroccan developers community who can help you in your learning journey.
            include ./_social-links.pug