.footer-part.footer-menu-wrapper.container.w-100
    .row
        .col-12
            div
                ul.footer-menu.list-group.list-group-horizontal.align-items-start
                    - var x = [{"title":"videos","slug":"videos","target":"_blank"},{"title":"podcast","slug":"p/coming-soon","hidden":true},{"title":"events","slug":"events","target":"_blank"},{"title":"patreon","slug":"patreon","target":"_blank","hidden":true},{"title":"blog","slug":"p/blog","hidden":true},{"title":"book interview","slug":"p/interview","hidden":true},{"title":"contributors","slug":"p/contributors"},{"title":"calendar","slug":"p/calendar","hidden":true},{"title":"resources","slug":"p/resources","hidden":true},{"title":"rules","slug":"rules","target":"_blank"},{"title":"FAQ","slug":"faq","target":"_blank"},{"title":"privacy","slug":"p/privacy","hidden":true},{"title":"feedback","slug":"p/feedback","hidden":true},{"title":"roadmaps","slug":"roadmaps","target":"_blank"}]
                    each val, index in x
                        if !val.hidden
                            li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                                a.text-capitalize(href='/'+val.slug rel='noopener' target='_blank' aria-label=val.title) 
                                    | !{val.title}