.social-icons-wrapper.mt-3
    ul.list-group.list-group-horizontal.align-items-start
        - var x = [{"icon":"<i class='fab fa-facebook-f'></i>","link":"facebook","title":"facebook","color":"#D32322"},{"icon":"<i class='fab fa-youtube'></i>","link":"youtube","title":"youtube","color":"#4867AA"},{"icon":"<i class='fab fa-instagram'></i>","link":"instagram","title":"instagram","color":"#B03699"},{"icon":"<i class='fab fa-twitter'></i>","link":"twitter","title":"twitter","color":"#50ABF1"},{"icon":"<i class='fab fa-linkedin'></i>","link":"linkedin","title":"linkedin","color":"#6E85D3"},{"icon":"<i class='fab fa-github'></i>","link":"github","title":"github","color":"#6E85D3"},{"icon":"<i class='fas fa-at'></i>","link":"email","title":"email","color":"#EE6551"},{"icon":"<i class='fab fa-paypal'></i>","link":"paypal","title":"paypal","color":"#EE6551"},{"icon":"<i class='fab fa-patreon'></i>","link":"patreon","title":"patreon","color":"#EE6551"}]
        each val, index in x
            if !val.hidden
                li.list-group-item.border-0.overflow-auto.my-0.mx-2
                    a.text-decoration-none(href=val.link target='_blank' rel='noopener' aria-label=val.title)
                        span.social-icon
                            | !{val.icon}
