extends ./layout/_page-content.pug

block pagecontent
    .contributors
        .row.mt-5
            .col-12
                h2.text-center.tc-blue-dark-1.mb-5 Contributors
        .row.mt-3.mb-5.justify-content-center
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='amine' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Amine
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='omarbelkady' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Omar
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='461dou' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap abdelhalim lakfifi
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='karim' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap karim
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='takashi' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap yasser
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='odachi' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap tariq
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='hafsacactus' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Hafsa
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='souphiane' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Souphiane
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='satisfy' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap taha omar
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='egon' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap saad
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='ahmedmechrir' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap ahmed mechrir
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='escaper01' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap mohammed
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='ali' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap ali
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='drissboumlik' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap driss boumlik
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='wildric' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap oussama
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='fatimazahra' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Fatima Zahra
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='yacouri' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap yacouri
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='essalhi' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap essalhi
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='ayoubmahdaoui' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap ayoub
            .col-lg-2.col-md-3.col-4.mb-4
                .contributor.d-flex.flex-column.justify-content-center.align-items-center
                    .feature-img.mb-2
                        .image
                            img.w-100.m-auto.d-block(src='https://via.placeholder.com/200' alt='' title='maryam' loading='lazy')
                    .text-data.text-center
                        .fullname.text-capitalize.white-space-nowrap Maryam
