extends ./layout/_app.pug

block content
    include ./partials/_menu.pug
    .container-fluid.p-0
        include ./partials/_about.pug
        include ./partials/_activities.pug
    include ./partials/_footer.pug