#about-2.about-2.section-wrapper
    #particles-js.particles-js
    .container.d-flex.align-items-center
        .section.about-header
            div
                .row._justify-content-center._align-items-center.mb-3
                    .col-11.col-md-12.col-lg-10
                        h3.brand-slogan
                            | Turning 
                            span Tea
                            |  into 
                            span Code
                .row
                    .col-11.col-md-12.col-lg-10
                        .welcome-message
                            .welcome-message-wrapper.tc-black-almost
                                .txt
                                    | As human beings, we love bringing value to ourselves and to others.
                                    | Join us and level up your programming skills in the process,
                                    | or give 15 to 30 min of your time to help others who need it, a value is added in both ways.
                            .btn-actions.mt-3
                                .btn-action
                                    a.btn-join-us.btn.tc-blue-bg.text-capitalize.px-3.pt-2(href='/discord' target='_blank' rel='noopener')
                                        i.fab.fa-discord
                                        span.ms-2 Join us
                                .btn-action
                                    a.btn-join-us.btn.tc-blue-dark-2-bg.text-capitalize.px-3.pt-2(href='/howto' target='_blank' rel='noopener')
                                        i.fab.fa-youtube
                                        span.ms-2 How To
        .section.about-code.hidden-small
            .code-wrapper
                .ide-wrapper.d-flex
                    .ide-section.editor-wrapper.d-flex
                        .header
                            .txt.bold.text-capitalize editor
                            .btn-actions
                                button.btn-action.btn-edit.text-capitalize.tc-blue-bg edit
                                button.btn-action.btn-run.text-capitalize.tc-green-bg.pushed run
                        .body
                            .body-container
                        .footer
                    .ide-section.output-wrapper.d-flex
                        .header
                            .txt.bold.text-capitalize output
                        .body
                            .body-container
                                .body-loading.d-none
                                    .loader
                                .lines
                        .footer
