footer.page-footer
  .container.page-footer-wrapper.footer.text-center
    include ./footer/_footer-menu.pug
    hr.footer-separator
    include ./footer/_extra-data.pug
    hr.footer-separator
    include ./footer/_copy-right.pug