#activities.activities.section-wrapper
  .section
    #workshops.activity-wrapper
      .container
        .row.align-items-center.activity-row
          .col-lg-6.col-md-7.activity-description
            h3.activity-header.text-capitalize.mb-md-2.mb-4.tc-black-almost
              span.activity-header-icon
                i.fas.fa-laptop
              span.activity-header-txt workshops
            .activity-body.description.tc-black-almost
              p.mb-2.capitalize-first-letter
                | attend workshops (run by professionals/students) on 
                span.key-word.white-space-nowrap differents subjects
                |  (Project management, Programming, DevOps ...etc), here is the details :
              ul.ps-4.m-0
                li.capitalize-first-letter
                  | learn the 
                  span.key-word.white-space-nowrap basics
                  |  of a language, framework or technology.
                li.capitalize-first-letter
                  | work/collaborate with other members to 
                  span.key-word.white-space-nowrap sharp
                  |  your problem solving skills.
                li.capitalize-first-letter
                  | build 
                  span.key-word.white-space-nowrap projects
                  |  from 
                  span.key-word.white-space-nowrap scratch
                  | .
                li.capitalize-first-letter
                  span.key-word.white-space-nowrap solve
                  |  coding challenges together.
              .capitalize-first-letter.btn-join-us
                a(href='#' target='_blank')
                  span.d-inline-block.capitalize-first-letter
                    span.me-1 click to join
                    i.fas.fa-chevron-right
          .col-lg-6.col-md-5.activity-img
            .img-wrapper
              img.img-fluid.w-md-75.m-auto.d-block(src='../dist/assets/img/activities/workshops.svg' alt='')
    #hangouts.activity-wrapper
      .container
        .row.align-items-center.activity-row
          .col-lg-6.col-md-7.activity-description
            h3.activity-header.text-capitalize.mb-md-2.mb-4.tc-black-almost
              span.activity-header-icon
                i.fas.fa-mug-hot
              span.activity-header-txt hangouts
            .activity-body.description.tc-black-almost
              p.mb-2.capitalize-first-letter
                | discussions about different subjects to 
                span.key-word.white-space-nowrap answer
                |  questions such as:
              ul.ps-4.m-0
                li.capitalize-first-letter
                  | what 
                  span.key-word.white-space-nowrap should I learn
                  |  to become a good software developer ?
                li.capitalize-first-letter
                  | it&apos;s 
                  span.key-word.white-space-nowrap hard
                  |  for me to learn coding.
                li.capitalize-first-letter
                  | what to do 
                  span.key-word.white-space-nowrap after highschool ?
                li.capitalize-first-letter
                  | i don&apos;t know how to 
                  span.key-word.white-space-nowrap look for a job
                  |  as a software developer ?
                li.capitalize-first-letter
                  | what are 
                  span.key-word.white-space-nowrap soft skills
                  |  ?
                li.capitalize-first-letter
                  span.key-word.white-space-nowrap do I need math
                  |  to become a software developer ?
                li.capitalize-first-letter
                  | And any 
                  span.key-word.white-space-nowrap other
                  |  subjects related to 
                  span.key-word.white-space-nowrap studies/career
                  | .
              .capitalize-first-letter.btn-join-us
                a(href='#' target='_blank')
                  span.d-inline-block.capitalize-first-letter
                    span.me-1 click to join
                    i.fas.fa-chevron-right
          .col-lg-6.col-md-5.activity-img
            .img-wrapper
              img.img-fluid.w-md-75.m-auto.d-block(src='../dist/assets/img/activities/hangouts.svg' alt='')
    #communication.activity-wrapper
      .container
        .row.align-items-center.activity-row
          .col-lg-6.col-md-7.activity-description
            h3.activity-header.text-capitalize.mb-md-2.mb-4.tc-black-almost
              span.activity-header-icon
                i.fas.fa-comments
              span.activity-header-txt communication
            .activity-body.description.tc-black-almost
              p.mb-2.capitalize-first-letter
                | join the online meetings to practice communication in English/French 
                span.key-word.white-space-nowrap every week
                | , here is why :
              ul.ps-4.m-0
                li.capitalize-first-letter
                  | ability to communicate with the language 
                  span.key-word itself
                  | .
                li.capitalize-first-letter
                  | create 
                  span.key-word connections
                  |  with other new people.
                li.capitalize-first-letter
                  | increase the chances to land an 
                  span.key-word.white-space-nowrap interview/job
                  | .
                li.capitalize-first-letter
                  | new doors opened for 
                  span.key-word more
                  |  knowledge.
                li.capitalize-first-letter
                  | don&apos;t underestimate yourself, because 
                  span.key-word.white-space-nowrap we don&apos;t
                  | .
              .capitalize-first-letter.btn-join-us
                a(href='#' target='_blank')
                  span.d-inline-block.capitalize-first-letter
                    span.me-1 click to join
                    i.fas.fa-chevron-right
          .col-lg-6.col-md-5.activity-img
            .img-wrapper
              img.img-fluid.w-md-75.m-auto.d-block(src='../dist/assets/img/activities/communication.svg' alt='')
    #coding-challenges.activity-wrapper
      .container
        .row.align-items-center.activity-row
          .col-lg-6.col-md-7.activity-description
            h3.activity-header.text-capitalize.mb-md-2.mb-4.tc-black-almost
              span.activity-header-icon
                i.fas.fa-code
              span.activity-header-txt coding challenges
            .activity-body.description.tc-black-almost
              p.mb-2.capitalize-first-letter
                | join our practice sessions to 
                span.key-word.white-space-nowrap train
                |  your mind and prepare for professional coding challenges.
              ol.ps-4.m-0
                li.capitalize-first-letter
                  span.key-word.white-space-nowrap Enhances
                  |  problem-solving skills.
                li.capitalize-first-letter
                  | It&apos;s 
                  span.key-word.white-space-nowrap guaranteed
                  |  brain exercise.
                li.capitalize-first-letter
                  | It&apos;s a way to 
                  span.key-word.white-space-nowrap practice
                  |  fast coding.
                li.capitalize-first-letter
                  | More 
                  span.key-word.white-space-nowrap attractive
                  |  to major companies.
                li.capitalize-first-letter
                  | Provides a significant technical 
                  span.key-word.white-space-nowrap edge
                  |  during job interviews.
                li.capitalize-first-letter
                  | It&apos;s a way to 
                  span.key-word.white-space-nowrap focus
                  |  on the fundamentals.
              .capitalize-first-letter.btn-join-us
                a(href='#' target='_blank')
                  span.d-inline-block.capitalize-first-letter
                    span.me-1 click to join
                    i.fas.fa-chevron-right
          .col-lg-6.col-md-5.activity-img
            .img-wrapper
              img.img-fluid.w-md-75.m-auto.d-block(src='../dist/assets/img/activities/coding-challenges.svg' alt='')
    #mock-interview.activity-wrapper
      .container
        .row.align-items-center.activity-row
          .col-lg-6.col-md-7.activity-description
            h3.activity-header.text-capitalize.mb-md-2.mb-4.tc-black-almost
              span.activity-header-icon
                i.fas.fa-briefcase
              span.activity-header-txt mock interview
            .activity-body.description.tc-black-almost
              p.mb-2.capitalize-first-letter
                | A mock interview is a simulation that allows you to 
                span.key-word.white-space-nowrap work
                |  on verbal/nonverbal communication skills and become 
                span.key-word.white-space-nowrap familiar
                |  with interview settings, here is how :
              ol.ps-4.m-0
                li.capitalize-first-letter
                  | choose an interviewer 
                  span.key-word.white-space-nowrap by asking
                  |  the server members.
                li.capitalize-first-letter
                  | choose/share a 
                  span.key-word.white-space-nowrap job offer
                  |  as example with the interviewer and 
                  span.key-word.white-space-nowrap start
                  |  the interview.
                li.capitalize-first-letter
                  | share your 
                  span.key-word.white-space-nowrap resume
                  |  with the interviewer (use screen sharing, shared link ... etc).
                li.capitalize-first-letter
                  | take your time 
                  span.key-word.white-space-nowrap answering
                  |  questions.
                li.capitalize-first-letter
                  | the interviewer will 
                  span.key-word.white-space-nowrap review
                  |  the mock interview with you at the end.
              .capitalize-first-letter.btn-join-us
                a(href='#' target='_blank')
                  span.d-inline-block.capitalize-first-letter
                    span.me-1 click to join
                    i.fas.fa-chevron-right
          .col-lg-6.col-md-5.activity-img
            .img-wrapper
              img.img-fluid.w-md-75.m-auto.d-block(src='../dist/assets/img/activities/mock-interview.svg' alt='')
