//- Fonts
//- link(rel='preload' href='./fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2' as='font' type='font/woff2' crossorigin='')
//- link(rel='preload' href='./fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2' as='font' type='font/woff2' crossorigin='')
//- link(rel='preload' href='./assets/fonts/istokweb.woff2' as='font' type='font/woff2' crossorigin='')
//- link(rel='preload' href='./assets/fonts/UntitledSansWeb-Bold.woff2' as='font' type='font/woff2' crossorigin='')
link(href='./css/externals.css' rel='preload' as='style')
link(href='./css/externals.css' rel='stylesheet')
link#app-css-preload(href='./css/app.css' rel='preload' as='style')
link#app-css(href='./css/app.css' rel='stylesheet')
script(defer='' src='./js/app.js')
