.banner
  .container
    .banner-wrapper
      .banner-text
        p
          span.pre-title
            i.fas.fa-calendar-alt
          span.title
            a.link-decorated(href='#' rel='noopener' aria-label='Banner Title' title='Put here your next event' target='_blank') Put here your next event
    .banner-close
      i.fas.fa-times
