footer.page-footer
  .container.page-footer-wrapper.footer.text-center
    .footer-part.footer-menu-wrapper.container.w-100
      .row
        .col-12
          div
            ul.footer-menu.list-group.list-group-horizontal.align-items-start
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_blank' aria-label='videos')  videos 
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_blank' aria-label='events')  events 
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_self' aria-label='contributors')  contributors 
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_blank' aria-label='rules')  rules 
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_blank' aria-label='FAQ')  FAQ 
              li.footer-menu-item.list-group-item.overflow-auto.my-2.mx-3
                a.text-capitalize(href='#' rel='noopener' target='_blank' aria-label='roadmaps')  roadmaps 
    hr.footer-separator
    .footer-part.extra-data-wrapper.container.w-100.py-4
      .row
        .col-12.col-md-10.col-lg-6.offset-md-1.offset-lg-3
          .teacode-header.brand.turn-trigger.mb-2.d-inline-block
            a(href='/')
              span.text-uppercase.brand-text.me-1 teac
              .logo.logo-brand.position-relative.d-inline-block
                img.logo.turn.img-fluid.square-25.me-1(src='./assets/img/teacode/teacode_circle_200.png' width='30' height='30' alt='Logo')
              span.text-uppercase.brand-text de
          .text-body
            p
              | Whether you are learning to code, thinking about it,
              | looking for a job in software development,
              | Join a moroccan developers community who can help you in your learning journey.
          .social-icons-wrapper.mt-3
            ul.list-group.list-group-horizontal.align-items-start
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='facebook')
                  span.social-icon
                    i.fab.fa-facebook-f
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='youtube')
                  span.social-icon
                    i.fab.fa-youtube
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='instagram')
                  span.social-icon
                    i.fab.fa-instagram
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='twitter')
                  span.social-icon
                    i.fab.fa-twitter
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='linkedin')
                  span.social-icon
                    i.fab.fa-linkedin
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='github')
                  span.social-icon
                    i.fab.fa-github
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='email')
                  span.social-icon
                    i.fas.fa-at
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='paypal')
                  span.social-icon
                    i.fab.fa-paypal
              li.list-group-item.border-0.overflow-auto.my-0.mx-2
                a.text-decoration-none(href='#' target='_blank' rel='noopener' aria-label='patreon')
                  span.social-icon
                    i.fab.fa-patreon
    hr.footer-separator
    .footer-part.copy-right-wrapper.container.w-100
      .row
        .col-lg-6.offset-lg-3.col-12.copyright-txt.mb-2
          .copy-right
            span.copy-right-txt
              i.far.fa-copyright
              |  TeaCode 2022. All rights reserved
        .col-lg-6.offset-lg-3.col-12.owner
          p
            | Made with
            span.heart-icon.ms-2
              i.fas.fa-heart.me-1
            |                         by
            span.bold.m-1
              a.link-undecorated.tc-white(href='https://linkedin.com/in/drissboumlik' target='_blank' rel='noopener') Driss Boumlik
