.menu.nav-scroller.py-2.dark-mode
  .container
    .menu-blocks.d-flex.justify-content-between.align-items-center
      .brand.turn-trigger
        a.d-flex.align-items-center(href='/')
          .logo.logo-brand.position-relative.d-inline-block
            img.logo.turn.img-fluid.rounded-circle.square-35(src='./assets/img/teacode/teacode_circle_bordred_200.png' width='30' height='30' alt='Logo')
          h4.brand-txt.ms-2.d-inline-block TeaCode
      nav.nav.d-flex.justify-content-center
        a.menu-item.p-2.text-dark.text-capitalize(rel='noopener' href='#' target='_blank')
          span.me-2 join us
          i.fas.fa-chevron-right
