$tc-white: #ffffff;
$tc-blue: #1DA1F2;
$tc-blue-dark-1: #337AB7;
$tc-blue-dark-2: #00437D;
$tc-blue-dark-3: #09182F;
$tc-blue-dark-4: #0e2547;
$tc-grey: #dfdfdf;
$tc-grey-light: #f9f9f9;
$tc-grey-light-2: #fafafa;
$tc-grey-dark: #b1b1b1;
$tc-black-light: #707070;
$tc-black: #222222;
$tc-black-almost: #313a3f;
$tc-black-almost-1: #2c2f33;
$tc-yellow: #FFC700;
$tc-oil: #c5c800;
$tc-green-light: #97C024;
$tc-red-light: #DB5844;
$tc-red: #ff2418;
$navbar-height: 56px;

:root {
    --tc-white: #ffffff;
    --tc-blue: #1DA1F2;
    --tc-blue-dark-1: #337AB7;
    --tc-blue-dark-2: #00437D;
    --tc-blue-dark-3: #09182F;
    --tc-blue-dark-4: #0e2547;
    --tc-grey: #dfdfdf;
    --tc-grey-light: #f9f9f9;
    --tc-grey-light-2: #fafafa;
    --tc-grey-dark: #b1b1b1;
    --tc-black-light: #707070;
    --tc-black: #222222;
    --tc-black-almost: #313a3f;
    --tc-black-almost-1: #2c2f33;
    --tc-yellow: #FFC700;
    --tc-oil: #c5c800;
    --tc-green-light: #97C024;
    --tc-red-light: #DB5844;
    --tc-red: #ff2418;
    --navbar-height: 56px;
}
