doctype html
html(lang='en')
    head
        include partials/meta.html
        include partials/assets.html
        title TeaCode | Turning Tea into Code
    body.antialiased.dark-mode
        .wrapper
            include partials/banner.html
            include partials/menu.html
            .container-fluid.p-0
                include partials/about.html
                include partials/activities.html
            include partials/footer.html
        include partials/dark-btn.html