doctype html
html(lang='en')
    head
        include partials/meta.pug
        include partials/assets.pug
        title TeaCode | Turning Tea into Code
    body.antialiased.dark-mode
        .wrapper
            include partials/banner.pug
            include partials/menu.pug
            .container-fluid.p-0
                include partials/about.pug
                include partials/activities.pug
            include partials/footer.pug
        include partials/dark-btn.pug